USE [ERPS]
GO
/****** Object:  Table [dbo].[mstAccess]    Script Date: 07/09/2023 17:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mstAccess](
	[ID] [int] NOT NULL CONSTRAINT [DF_mstAccess_ID]  DEFAULT ((0)),
	[Name] [varchar](50) NOT NULL CONSTRAINT [DF_mstAccess_Name]  DEFAULT (''),
	[IsDeleted] [bit] NOT NULL CONSTRAINT [DF_mstAccess_IsDeleted]  DEFAULT ((0)),
	[CreatedBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstAccess_CreatedBy]  DEFAULT ('SYSTEM'),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_mstAccess_CreatedDate]  DEFAULT (getdate()),
	[LogBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstAccess_LogBy]  DEFAULT ('SYSTEM'),
	[LogDate] [datetime] NOT NULL CONSTRAINT [DF_mstAccess_LogDate]  DEFAULT (getdate()),
	[LogInc] [int] NOT NULL CONSTRAINT [DF_mstAccess_LogInc]  DEFAULT ((0)),
 CONSTRAINT [PK_mstAccess] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[mstCompany]    Script Date: 07/09/2023 17:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mstCompany](
	[ID] [int] NOT NULL CONSTRAINT [DF_mstCompany_ID]  DEFAULT ((0)),
	[Name] [varchar](100) NOT NULL CONSTRAINT [DF_mstCompany_Name]  DEFAULT (''),
	[Address] [varchar](250) NOT NULL CONSTRAINT [DF_mstCompany_Address]  DEFAULT (''),
	[PhoneNumber] [varchar](250) NOT NULL CONSTRAINT [DF_mstCompany_PhoneNumber]  DEFAULT (''),
	[CompanyInitial] [varchar](3) NOT NULL CONSTRAINT [DF_mstCompany_CompanyInitial]  DEFAULT (''),
	[StatusID] [int] NOT NULL CONSTRAINT [DF_mstCompany_StatusID]  DEFAULT ((0)),
	[CreatedBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstCompany_CreatedBy]  DEFAULT ('SYSTEM'),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_mstCompany_CreatedDate]  DEFAULT (getdate()),
	[LogBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstCompany_LogBy]  DEFAULT ('SYSTEM'),
	[LogDate] [datetime] NOT NULL CONSTRAINT [DF_mstCompany_LogDate]  DEFAULT (getdate()),
	[LogInc] [int] NULL CONSTRAINT [DF_mstCompany_LogInc]  DEFAULT ((0)),
 CONSTRAINT [PK_mstCompany] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[mstModules]    Script Date: 07/09/2023 17:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mstModules](
	[ID] [int] NOT NULL CONSTRAINT [DF_mstModules_ID]  DEFAULT ((0)),
	[Name] [varchar](50) NOT NULL CONSTRAINT [DF_mstModules_Name]  DEFAULT (''),
	[IsDeleted] [bit] NOT NULL CONSTRAINT [DF_mstModules_IsDeleted]  DEFAULT ((0)),
	[CreatedBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstModules_CreatedBy]  DEFAULT ('SYSTEM'),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_mstModules_CreatedDate]  DEFAULT (getdate()),
	[LogBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstModules_LogBy]  DEFAULT ('SYSTEM'),
	[LogDate] [datetime] NOT NULL CONSTRAINT [DF_mstModules_LogDate]  DEFAULT (getdate()),
	[LogInc] [int] NULL CONSTRAINT [DF_mstModules_LogInc]  DEFAULT ((0)),
 CONSTRAINT [PK_mstModules] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[mstModulesAccess]    Script Date: 07/09/2023 17:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mstModulesAccess](
	[ID] [int] NOT NULL CONSTRAINT [DF_mstModulesAccess_ID]  DEFAULT ((0)),
	[ModulesID] [int] NOT NULL CONSTRAINT [DF_mstModulesAccess_ModulesID]  DEFAULT ((0)),
	[AccessID] [int] NOT NULL CONSTRAINT [DF_mstModulesAccess_AccessID]  DEFAULT ((0)),
 CONSTRAINT [PK_mstModulesAccess] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[mstPaymentReferences]    Script Date: 07/09/2023 17:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mstPaymentReferences](
	[ID] [int] NOT NULL CONSTRAINT [DF_mstPaymentReferences_ID]  DEFAULT ((0)),
	[Name] [varchar](50) NOT NULL CONSTRAINT [DF_mstPaymentReferences_Name]  DEFAULT (''),
	[StatusID] [int] NOT NULL CONSTRAINT [DF_mstPaymentReferences_StatusID]  DEFAULT ((0)),
	[CreatedBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstPaymentReferences_CreatedBy]  DEFAULT ('SYSTEM'),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_mstPaymentReferences_CreatedDate]  DEFAULT (getdate()),
	[LogBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstPaymentReferences_LogBy]  DEFAULT ('SYSTEM'),
	[LogDate] [datetime] NOT NULL CONSTRAINT [DF_mstPaymentReferences_LogDate]  DEFAULT (getdate()),
	[LogInc] [int] NULL CONSTRAINT [DF_mstPaymentReferences_LogInc]  DEFAULT ((0)),
 CONSTRAINT [PK_mstPaymentReferences] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[mstPaymentType]    Script Date: 07/09/2023 17:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mstPaymentType](
	[ID] [int] NOT NULL CONSTRAINT [DF_mstPaymentType_ID]  DEFAULT ((0)),
	[Code] [varchar](100) NOT NULL CONSTRAINT [DF_mstPaymentType_Code]  DEFAULT (''),
	[Name] [varchar](100) NOT NULL CONSTRAINT [DF_mstPaymentType_Name]  DEFAULT (''),
	[PaymentTypeCategoryID] [int] NOT NULL CONSTRAINT [DF_mstPaymentType_PaymentTypeCategoryID]  DEFAULT ((0)),
	[StatusID] [int] NOT NULL CONSTRAINT [DF_mstPaymentType_StatusID]  DEFAULT ((0)),
	[CreatedBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstPaymentType_CreatedBy]  DEFAULT ('SYSTEM'),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_mstPaymentType_CreatedDate]  DEFAULT (getdate()),
	[LogBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstPaymentType_LogBy]  DEFAULT ('SYSTEM'),
	[LogDate] [datetime] NOT NULL CONSTRAINT [DF_mstPaymentType_LogDate]  DEFAULT (getdate()),
	[LogInc] [int] NULL CONSTRAINT [DF_mstPaymentType_LogInc]  DEFAULT ((0)),
 CONSTRAINT [PK_mstPaymentType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
GO
/****** Object:  Table [dbo].[mstPaymentTypeCategory]    Script Date: 07/09/2023 17:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mstPaymentTypeCategory](
	[ID] [int] NOT NULL CONSTRAINT [DF_mstPaymentTypeCategory_ID]  DEFAULT ((0)),
	[Code] [varchar](100) NOT NULL CONSTRAINT [DF_mstPaymentTypeCategory_Code]  DEFAULT (''),
	[Name] [varchar](100) NOT NULL CONSTRAINT [DF_mstPaymentTypeCategory_Name]  DEFAULT (''),
	[StatusID] [int] NOT NULL CONSTRAINT [DF_mstPaymentTypeCategory_StatusID]  DEFAULT ((0)),
	[CreatedBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstPaymentTypeCategory_CreatedBy]  DEFAULT ('SYSTEM'),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_mstPaymentTypeCategory_CreatedDate]  DEFAULT (getdate()),
	[LogBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstPaymentTypeCategory_LogBy]  DEFAULT ('SYSTEM'),
	[LogDate] [datetime] NOT NULL CONSTRAINT [DF_mstPaymentTypeCategory_LogDate]  DEFAULT (getdate()),
	[LogInc] [int] NULL CONSTRAINT [DF_mstPaymentTypeCategory_LogInc]  DEFAULT ((0)),
 CONSTRAINT [PK_mstPaymentTypeCategory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[mstPaymentMode]    Script Date: 07/09/2023 17:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mstPaymentMode](
	[ID] [int] NOT NULL CONSTRAINT [DF_mstPaymentMode_ID]  DEFAULT ((0)),
	[Code] [varchar](100) NOT NULL CONSTRAINT [DF_mstPaymentMode_Code]  DEFAULT (''),
	[Name] [varchar](100) NOT NULL CONSTRAINT [DF_mstPaymentMode_Name]  DEFAULT (''),
	[StatusID] [int] NOT NULL CONSTRAINT [DF_mstPaymentMode_StatusID]  DEFAULT ((0)),
	[CreatedBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstPaymentMode_CreatedBy]  DEFAULT ('SYSTEM'),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_mstPaymentMode_CreatedDate]  DEFAULT (getdate()),
	[LogBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstPaymentMode_LogBy]  DEFAULT ('SYSTEM'),
	[LogDate] [datetime] NOT NULL CONSTRAINT [DF_mstPaymentMode_LogDate]  DEFAULT (getdate()),
	[LogInc] [int] NULL CONSTRAINT [DF_mstPaymentMode_LogInc]  DEFAULT ((0)),
 CONSTRAINT [PK_mstPaymentMode] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[mstProgram]    Script Date: 07/09/2023 17:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mstProgram](
	[ID] [int] NOT NULL CONSTRAINT [DF_mstProgram_ID]  DEFAULT ((0)),
	[Name] [varchar](50) NOT NULL CONSTRAINT [DF_mstProgram_Name]  DEFAULT (''),
	[IsDeleted] [bit] NOT NULL CONSTRAINT [DF_mstProgram_IsDeleted]  DEFAULT ((0)),
	[CreatedBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstProgram_CreatedBy]  DEFAULT ('SYSTEM'),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_mstProgram_CreatedDate]  DEFAULT (getdate()),
	[LogBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstProgram_LogBy]  DEFAULT ('SYSTEM'),
	[LogDate] [datetime] NOT NULL CONSTRAINT [DF_mstProgram_LogDate]  DEFAULT (getdate()),
	[LogInc] [int] NOT NULL CONSTRAINT [DF_mstProgram_LogInc]  DEFAULT ((0)),
 CONSTRAINT [PK_mstProgram] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[mstProgramModules]    Script Date: 07/09/2023 17:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mstProgramModules](
	[ID] [int] NOT NULL CONSTRAINT [DF_mstProgramModules_ID]  DEFAULT ((0)),
	[ModulesID] [int] NOT NULL CONSTRAINT [DF_mstProgramModules_ModulesID]  DEFAULT ((0)),
	[ProgramID] [int] NOT NULL CONSTRAINT [DF_mstProgramModules_ProgramID]  DEFAULT ((0)),
 CONSTRAINT [PK_mstProgramModules] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[mstStatus]    Script Date: 07/09/2023 17:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mstStatus](
	[ID] [int] NOT NULL CONSTRAINT [DF_mstStatus_ID]  DEFAULT ((0)),
	[Name] [varchar](50) NOT NULL CONSTRAINT [DF_mstStatus_Name]  DEFAULT (''),
	[IsDeleted] [bit] NOT NULL CONSTRAINT [DF_mstStatus_IsDeleted]  DEFAULT ((0)),
	[CreatedBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstStatus_CreatedBy]  DEFAULT ('SYSTEM'),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_mstStatus_CreatedDate]  DEFAULT (getdate()),
	[LogBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstStatus_LogBy]  DEFAULT ('SYSTEM'),
	[LogDate] [datetime] NOT NULL CONSTRAINT [DF_mstStatus_LogDate]  DEFAULT (getdate()),
	[LogInc] [int] NULL CONSTRAINT [DF_mstStatus_LogInc]  DEFAULT ((0)),
 CONSTRAINT [PK_mstStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[mstStatusModules]    Script Date: 07/09/2023 17:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mstStatusModules](
	[ID] [int] NOT NULL CONSTRAINT [DF_mstStatusModules_ID]  DEFAULT ((0)),
	[ModulesID] [int] NOT NULL CONSTRAINT [DF_mstStatusModules_ModulesID]  DEFAULT (''),
	[StatusID] [int] NOT NULL CONSTRAINT [DF_mstStatusModules_StatusID]  DEFAULT ((0)),
 CONSTRAINT [PK_mstStatusModules] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[mstUOM]    Script Date: 07/09/2023 17:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mstUOM](
	[ID] [int] NOT NULL CONSTRAINT [DF_mstUOM_ID]  DEFAULT ((0)),
	[Code] [varchar](10) NOT NULL CONSTRAINT [DF_mstUOM_Code]  DEFAULT (''),
	[Name] [varchar](100) NOT NULL CONSTRAINT [DF_mstUOM_Name]  DEFAULT (''),
	[StatusID] [int] NOT NULL CONSTRAINT [DF_mstUOM_StatusID]  DEFAULT ((0)),
	[CreatedBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstUOM_CreatedBy]  DEFAULT ('SYSTEM'),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_mstUOM_CreatedDate]  DEFAULT (getdate()),
	[LogBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstUOM_LogBy]  DEFAULT ('SYSTEM'),
	[LogDate] [datetime] NOT NULL CONSTRAINT [DF_mstUOM_LogDate]  DEFAULT (getdate()),
	[LogInc] [int] NULL CONSTRAINT [DF_mstUOM_LogInc]  DEFAULT ((0)),
 CONSTRAINT [PK_mstUOM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[mstUser]    Script Date: 07/09/2023 17:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mstUser](
	[ID] [varchar](20) NOT NULL CONSTRAINT [DF_mstUser_ID]  DEFAULT ((0)),
	[StaffID] [varchar](10) NOT NULL CONSTRAINT [DF_mstUser_StaffID]  DEFAULT (''),
	[Name] [varchar](100) NOT NULL CONSTRAINT [DF_mstUser_Name]  DEFAULT (''),
	[Password] [nvarchar](250) NOT NULL CONSTRAINT [DF_mstUser_Password]  DEFAULT (''),
	[Position] [varchar](100) NOT NULL CONSTRAINT [DF_mstUser_Position]  DEFAULT (''),
	[StatusID] [int] NOT NULL CONSTRAINT [DF_mstUser_StatusID]  DEFAULT ((0)),
	[CreatedBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstUser_CreatedBy]  DEFAULT ('SYSTEM'),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_mstUser_CreatedDate]  DEFAULT (getdate()),
	[LogBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstUser_LogBy]  DEFAULT ('SYSTEM'),
	[LogDate] [datetime] NOT NULL CONSTRAINT [DF_mstUser_LogDate]  DEFAULT (getdate()),
	[LogInc] [int] NULL CONSTRAINT [DF_mstUser_LogInc]  DEFAULT ((0)),
	[IsSuperUser] [bit] NOT NULL CONSTRAINT [DF_mstUser_IsSuperUser]  DEFAULT ((0)),
	[IsFirstCreated] [bit] NOT NULL CONSTRAINT [DF_mstUser_IsFirstCreated]  DEFAULT ((0)),
 CONSTRAINT [PK_mstUser] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[mstUserAccess]    Script Date: 07/09/2023 17:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mstUserAccess](
	[ID] [int] NOT NULL CONSTRAINT [DF_mstUserAccess_ID]  DEFAULT ((0)),
	[UserID] [varchar](20) NOT NULL CONSTRAINT [DF_mstUserAccess_UserID]  DEFAULT (''),
	[ProgramID] [int] NOT NULL CONSTRAINT [DF_mstUserAccess_ProgramID]  DEFAULT ((0)),
	[ModulesID] [int] NOT NULL CONSTRAINT [DF_mstUserAccess_ModulesID]  DEFAULT ((0)),
	[AccessID] [int] NOT NULL CONSTRAINT [DF_mstUserAccess_AccessID]  DEFAULT ((0)),
 CONSTRAINT [PK_mstUserAccess] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[mstUserCompany]    Script Date: 07/09/2023 17:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mstUserCompany](
	[ID] [int] NOT NULL CONSTRAINT [DF_mstUserCompany_ID]  DEFAULT ((0)),
	[UserID] [varchar](20) NOT NULL CONSTRAINT [DF_mstUserCompany_UserID]  DEFAULT (''),
	[CompanyID] [int] NOT NULL CONSTRAINT [DF_mstUserCompany_CompanyID]  DEFAULT ((0)),
 CONSTRAINT [PK_mstUserCompany] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sysJournalPost]    Script Date: 07/09/2023 17:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sysJournalPost](
	[ProgramID] [int] NOT NULL CONSTRAINT [DF_sysJournalPost_ProgramID]  DEFAULT ((0)),
	[CoAofRevenue] [int] NOT NULL CONSTRAINT [DF_sysJournalPost_CoAofRevenue]  DEFAULT ((0)),
	[CoAofAccountReceivable] [int] NOT NULL CONSTRAINT [DF_sysJournalPost_CoAofAccountReceivable]  DEFAULT ((0)),
	[CoAofSalesDisc] [int] NOT NULL CONSTRAINT [DF_sysJournalPost_CoAofSalesDisc]  DEFAULT ((0)),
	[CoAofPrepaidIncome] [int] NOT NULL CONSTRAINT [DF_sysJournalPost_CoAofPrepaidIncome]  DEFAULT ((0)),
	[CoAofCOGS] [int] NOT NULL CONSTRAINT [DF_sysJournalPost_CoAofCOGS]  DEFAULT ((0)),
	[CoAofStock] [int] NOT NULL CONSTRAINT [DF_sysJournalPost_CoAofStock]  DEFAULT ((0)),
	[CoAofCash] [int] NOT NULL CONSTRAINT [DF_sysJournalPost_CoAofCash]  DEFAULT ((0)),
	[CoAofAccountPayable] [int] NOT NULL CONSTRAINT [DF_sysJournalPost_CoAofAccountPayable]  DEFAULT ((0)),
	[CoAofPurchaseDisc] [int] NOT NULL CONSTRAINT [DF_sysJournalPost_CoAofPurchaseDisc]  DEFAULT ((0)),
	[CoAofPurchaseEquipments] [int] NOT NULL CONSTRAINT [DF_sysJournalPost_CoAofPurchaseEquipments]  DEFAULT ((0)),
	[CoAofAdvancePayment] [int] NOT NULL CONSTRAINT [DF_sysJournalPost_CoAofAdvancePayment]  DEFAULT ((0)),
	[CoAofSalesTax] [int] NOT NULL CONSTRAINT [DF_sysJournalPost_CoAofSalesTax]  DEFAULT ((0)),
	[CoAofPurchaseTax] [int] NOT NULL CONSTRAINT [DF_sysJournalPost_CoAofPurchaseTax]  DEFAULT ((0)),
	[Remarks] [varchar](250) NOT NULL CONSTRAINT [DF_sysJournalPost_Remarks]  DEFAULT (''),
	[CreatedBy] [varchar](20) NOT NULL CONSTRAINT [DF_sysJournalPost_CreatedBy]  DEFAULT ('SYSTEM'),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_sysJournalPost_CreatedDate]  DEFAULT (getdate()),
	[LogInc] [int] NOT NULL CONSTRAINT [DF_sysJournalPost_LogInc]  DEFAULT ((0)),
	[LogBy] [varchar](20) NOT NULL CONSTRAINT [DF_sysJournalPost_LogBy]  DEFAULT ('SYSTEM'),
	[LogDate] [datetime] NOT NULL CONSTRAINT [DF_sysJournalPost_LogDate]  DEFAULT (getdate())
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

GO

/****** Object:  Table [dbo].[mstBusinessPartner]    Script Date: 07/09/2023 17:43:08 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[mstBusinessPartner](
	[ID] [int] NOT NULL CONSTRAINT [DF_mstBusinessPartners_ID]  DEFAULT ((0)),
	[Code] [varchar](10) NOT NULL CONSTRAINT [DF_mstBusinessPartners_Code]  DEFAULT (''),
	[Name] [varchar](250) NOT NULL CONSTRAINT [DF_mstBusinessPartners_Name]  DEFAULT (''),
	[Address] [varchar](500) NOT NULL CONSTRAINT [DF_mstBusinessPartners_Address]  DEFAULT (''),
	[PICName] [varchar](150) NOT NULL CONSTRAINT [DF_mstBusinessPartners_PICName]  DEFAULT (''),
	[PICPhoneNumber] [varchar](100) NOT NULL CONSTRAINT [DF_mstBusinessPartners_PICPhoneNumber]  DEFAULT (''),
	[APBalance] [decimal](18, 2) NOT NULL CONSTRAINT [DF_mstBusinessPartners_APBalance]  DEFAULT ((0)),
	[ARBalance] [decimal](18, 2) NOT NULL CONSTRAINT [DF_mstBusinessPartners_ARBalance]  DEFAULT ((0)),
	[StatusID] [int] NOT NULL CONSTRAINT [DF_mstBusinessPartners_StatusID]  DEFAULT ((0)),
	[CreatedBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstBusinessPartners_CreatedBy]  DEFAULT ('SYSTEM'),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_mstBusinessPartners_CreatedDate]  DEFAULT (getdate()),
	[LogBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstBusinessPartners_LogBy]  DEFAULT ('SYSTEM'),
	[LogDate] [datetime] NOT NULL CONSTRAINT [DF_mstBusinessPartners_LogDate]  DEFAULT (getdate()),
	[LogInc] [int] NOT NULL CONSTRAINT [DF_mstBusinessPartner_LogInc]  DEFAULT ((0)),
 CONSTRAINT [PK_mstBusinessPartner] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO

GO

/****** Object:  Table [dbo].[mstBusinessPartnerBankAccount]    Script Date: 07/09/2023 17:43:08 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[mstBusinessPartnerBankAccount](
	[ID] [int] NOT NULL CONSTRAINT [DF_mstBusinessPartnersBankAccount_ID]  DEFAULT ((0)),
	[BPID] [int] NOT NULL CONSTRAINT [DF_mstBusinessPartnersBankAccount_BPID]  DEFAULT ((0)),
	[AccountName] [varchar](250) NOT NULL CONSTRAINT [DF_mstBusinessPartnersBankAccount_AccountName]  DEFAULT (''),
	[BankName] [varchar](500) NOT NULL CONSTRAINT [DF_mstBusinessPartnersBankAccount_BankName]  DEFAULT (''),
	[AccountNumber] [varchar](150) NOT NULL CONSTRAINT [DF_mstBusinessPartnersBankAccount_AccountNumber]  DEFAULT (''),
	[Currency] [varchar](100) NOT NULL CONSTRAINT [DF_mstBusinessPartnersBankAccount_Currency]  DEFAULT (''),
	[StatusID] [int] NOT NULL CONSTRAINT [DF_mstBusinessPartnersBankAccount_StatusID]  DEFAULT ((0)),
	[CreatedBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstBusinessPartnersBankAccount_CreatedBy]  DEFAULT ('SYSTEM'),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_mstBusinessPartnersBankAccount_CreatedDate]  DEFAULT (getdate()),
	[LogBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstBusinessPartnersBankAccount_LogBy]  DEFAULT ('SYSTEM'),
	[LogDate] [datetime] NOT NULL CONSTRAINT [DF_mstBusinessPartnersBankAccount_LogDate]  DEFAULT (getdate()),
	[LogInc] [int] NOT NULL CONSTRAINT [DF_mstBusinessPartner_LogInc]  DEFAULT ((0)),
 CONSTRAINT [PK_mstBusinessPartner] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO
GO
/****** Object:  Table [dbo].[mstItemType]    Script Date: 07/09/2023 17:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mstItemType](
	[ID] [int] NOT NULL CONSTRAINT [DF_mstItemType_ID]  DEFAULT ((0)),
	[Description] [varchar](500) NOT NULL CONSTRAINT [DF_mstItemType_Description]  DEFAULT (''),
	[StatusID] [int] NOT NULL CONSTRAINT [DF_mstItemType_StatusID]  DEFAULT ((0)),
	[CreatedBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstItemType_CreatedBy]  DEFAULT ('SYSTEM'),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_mstItemType_CreatedDate]  DEFAULT (getdate()),
	[LogBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstItemType_LogBy]  DEFAULT ('SYSTEM'),
	[LogDate] [datetime] NOT NULL CONSTRAINT [DF_mstItemType_LogDate]  DEFAULT (getdate()),
	[LogInc] [int] NOT NULL CONSTRAINT [DF_mstItemType_LogInc]  DEFAULT ((0)),
 CONSTRAINT [PK_mstItemType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
GO
/****** Object:  Table [dbo].[mstItemType]    Script Date: 07/09/2023 17:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mstItemSpecification](
	[ID] [int] NOT NULL CONSTRAINT [DF_mstItemSpecification_ID]  DEFAULT ((0)),
	[Description] [varchar](500) NOT NULL CONSTRAINT [DF_mstItemSpecification_Description]  DEFAULT (''),
	[StatusID] [int] NOT NULL CONSTRAINT [DF_mstItemSpecification_StatusID]  DEFAULT ((0)),
	[CreatedBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstItemSpecification_CreatedBy]  DEFAULT ('SYSTEM'),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_mstItemSpecification_CreatedDate]  DEFAULT (getdate()),
	[LogBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstItemSpecification_LogBy]  DEFAULT ('SYSTEM'),
	[LogDate] [datetime] NOT NULL CONSTRAINT [DF_mstItemSpecification_LogDate]  DEFAULT (getdate()),
	[LogInc] [int] NOT NULL CONSTRAINT [DF_mstItemSpecification_LogInc]  DEFAULT ((0)),
 CONSTRAINT [PK_mstItemSpecification] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
GO
/****** Object:  Table [dbo].[mstItem]    Script Date: 07/09/2023 17:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mstItem](
	[ID] [int] NOT NULL CONSTRAINT [DF_mstItem_ID]  DEFAULT ((0)),
	[ItemTypeID] [int] NOT NULL CONSTRAINT [DF_mstItem_ItemTypeID]  DEFAULT ((0)),
	[ItemSpecificationID] [int] NOT NULL CONSTRAINT [DF_mstItem_ItemSpecificationID]  DEFAULT ((0)),
	[Thick] [varchar](100) NOT NULL CONSTRAINT [DF_mstItem_Thick]  DEFAULT (''),
	[Width] [varchar](100) NOT NULL CONSTRAINT [DF_mstItem_Width]  DEFAULT (''),
	[Length] [varchar](100) NOT NULL CONSTRAINT [DF_mstItem_Length]  DEFAULT (''),
	[Weight] [decimal](18,4) NOT NULL CONSTRAINT [DF_mstItem_Weight]  DEFAULT ((0)),
	[UOMID] [int] NOT NULL CONSTRAINT [DF_mstItem_UOMID]  DEFAULT ((0)),
	[BasePrice] [decimal](18,2) NOT NULL CONSTRAINT [DF_mstItem_BasePrice]  DEFAULT ((0)),
	[StatusID] [int] NOT NULL CONSTRAINT [DF_mstItem_StatusID]  DEFAULT ((0)),
	[Remarks] [varchar](500) NOT NULL CONSTRAINT [DF_mstItem_Remarks]  DEFAULT (''),
	[CreatedBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstItem_CreatedBy]  DEFAULT ('SYSTEM'),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_mstItem_CreatedDate]  DEFAULT (getdate()),
	[LogBy] [varchar](20) NOT NULL CONSTRAINT [DF_mstItem_LogBy]  DEFAULT ('SYSTEM'),
	[LogDate] [datetime] NOT NULL CONSTRAINT [DF_mstItem_LogDate]  DEFAULT (getdate()),
	[LogInc] [int] NOT NULL CONSTRAINT [DF_mstItem_LogInc]  DEFAULT ((0)),
 CONSTRAINT [PK_mstItem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
GO

/****** Object:  Table [dbo].[traOrderRequest]    Script Date: 07/09/2023 17:54:26 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[traOrderRequest](
	[ID] [varchar](100) NOT NULL CONSTRAINT [DF_traOrderRequest_ID]  DEFAULT (''),
	[ProgramID] [int] NOT NULL CONSTRAINT [DF_traOrderRequest_ProgramID]  DEFAULT ((0)),
	[CompanyID] [int] NOT NULL CONSTRAINT [DF_traOrderRequest_CompanyID]  DEFAULT ((0)),
	[BPID] [int] NOT NULL CONSTRAINT [DF_traOrderRequest_BPID]  DEFAULT ((0)),
	[OrderNumber] [varchar](100) NOT NULL CONSTRAINT [DF_traOrderRequest_OrderNumber]  DEFAULT (('')),
	[OrderDate] [datetime] NOT NULL CONSTRAINT [DF_traOrderRequest_OrderDate]  DEFAULT (getdate()),
	[ReferencesNumber] [varchar](250) NOT NULL CONSTRAINT [DF_traOrderRequest_ReferencesNumber]  DEFAULT (('')),
	[ItemSpecificationID] [int] NOT NULL CONSTRAINT [DF_traOrderRequest_ItemSpecificationID]  DEFAULT ((0)),
	[TotalQuantity] [decimal](18, 4) NOT NULL CONSTRAINT [DF_traOrderRequest_TotalQuantity]  DEFAULT ((0)),
	[TotalWeight] [decimal](18, 4) NOT NULL CONSTRAINT [DF_traOrderRequest_TotalWeight]  DEFAULT ((0)),
	[IsDeleted] [bit] NOT NULL CONSTRAINT [DF_traOrderRequest_IsDeleted]  DEFAULT ((0)),
	[Remarks] [varchar](250) NOT NULL CONSTRAINT [DF_traOrderRequest_Remarks]  DEFAULT (''),
	[StatusID] [int] NOT NULL CONSTRAINT [DF_traOrderRequest_StatusID]  DEFAULT ((0)),
	[CreatedBy] [varchar](20) NOT NULL CONSTRAINT [DF_traOrderRequest_CreatedBy]  DEFAULT ('SYSTEM'),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_traOrderRequest_CreatedDate]  DEFAULT (getdate()),
	[LogInc] [int] NOT NULL CONSTRAINT [DF_traOrderRequest_LogInc]  DEFAULT ((0)),
	[LogBy] [varchar](20) NOT NULL CONSTRAINT [DF_traOrderRequest_LogBy]  DEFAULT ('SYSTEM'),
	[LogDate] [datetime] NOT NULL CONSTRAINT [DF_traOrderRequest_LogDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_traOrderRequest] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO
GO

/****** Object:  Table [dbo].[traOrderRequestDet]    Script Date: 07/09/2023 17:54:26 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[traOrderRequestDet](
	[ID] [varchar](100) NOT NULL CONSTRAINT [DF_traOrderRequestDet_ID]  DEFAULT (''),
	[OrderRequestID] [int] NOT NULL CONSTRAINT [DF_traOrderRequestDet_OrderRequestID]  DEFAULT ((0)),
	[ItemID] [int] NOT NULL CONSTRAINT [DF_traOrderRequestDet_ItemID]  DEFAULT ((0)),
	[Quantity] [decimal](18,4) NOT NULL CONSTRAINT [DF_traOrderRequestDet_Quantity]  DEFAULT ((0)),
	[Weight] [decimal](18,4) NOT NULL CONSTRAINT [DF_traOrderRequestDet_Weight]  DEFAULT ((0)),
	[TotalWeight] [decimal](18,4) NOT NULL CONSTRAINT [DF_traOrderRequestDet_TotalWeight]  DEFAULT ((0)),
	[POInternalQuantity] [decimal](18,4) NOT NULL CONSTRAINT [DF_traOrderRequestDet_POInternalQuantity]  DEFAULT ((0)),
	[POInternalWeight] [decimal](18,4) NOT NULL CONSTRAINT [DF_traOrderRequestDet_POInternalWeight]  DEFAULT ((0)),
 CONSTRAINT [PK_traOrderRequestDet] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO
GO

/****** Object:  Table [dbo].[traOrderRequestStatus]    Script Date: 07/09/2023 18:08:21 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[traOrderRequestStatus](
	[ID] [varchar](30) NOT NULL CONSTRAINT [DF_traOrderRequestStatus_ID]  DEFAULT (''),
	[OrderRequestID] [varchar](30) NOT NULL CONSTRAINT [DF_traOrderRequestStatus_OrderRequestID]  DEFAULT (''),
	[Status] [varchar](100) NOT NULL CONSTRAINT [DF_traOrderRequestStatus_Status]  DEFAULT ((0)),
	[StatusBy] [varchar](20) NOT NULL CONSTRAINT [DF_traOrderRequestStatus_StatusBy]  DEFAULT ((0)),
	[StatusDate] [datetime] NOT NULL CONSTRAINT [DF_traOrderRequestStatus_StatusDate]  DEFAULT ((0)),
	[Remarks] [varchar](250) NOT NULL CONSTRAINT [DF_traOrderRequestStatus_Remarks]  DEFAULT ((0)),
 CONSTRAINT [PK_traOrderRequestStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO





